
<%= stylesheet_link_tag  'custom' %>


<div class="install-box">
  <div class="row">
    <div class="install-quote col-md-6">
      <div class="quote">
        Download BK SYNC
        <span>
          Your stuff, everwhere
        </span>
      </div>
      <div class="install-link">
        <button class="btn btn-primary btn-block">
          Download
        </button>
      </div>

    </div>

    <div class="highlight col-md-6">
      <pre>

      </pre>

    </div>
  </div>

</div>
