<header id="fixed-header">
    <div class="logo-holder">
      <div class="logo">
        <a href="/">
          <img src="/cloud-database.png"/>
    <span> BK STORAGE </span>
        </a>
      </div>
    </div>
  <%# if user_signed_in? %>
    <ul class="top-nav">
      <li class="nav-link">
        <a href="/install">
        <i class="glyphicon glyphicon-circle-arrow-down"></i>
          <span>
            Install
          </span>
        </a>
      </li>
      <li class="nav-link">
        <span> ● </span>
        <i class=""></i>
      </li>
      <li class="nav-link">
        <%# <a href="/users/sign_out" data-method="delete"> %>
          <a href="/logout">
          <span>
            Signout
          </span>
        </a>
      </li>
    </ul>
  <%# end %>
  <div style="clear: both"></div>
</header>
