<!DOCTYPE html>
<html>
<head>
  <title>Rails elFinder Example</title>
  <%= stylesheet_link_tag     'application' %>
  <%= javascript_include_tag  'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <a href="/users/sign_out" data-method="delete">Signout</a>
    <form action="/createContainer" data-remote='true'>
	    <input type='text' name="mount">
            <input type='submit' value='submit'>
    </form>
  </header>
  <%= yield %>
</body>
</html>
